.game-board{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px;
    justify-content: center;
    background-image: url("../Images/Onitama-BackgroundGameboard.jpg");
    object-fit: fill;
    padding: 5%;
}

.box {
    border: 2px solid black;
}
.leaveButton{
    background-color: red;
    padding: 10px;
    margin: auto;
    width: 100px;
    place-items: end;
    border-radius: 5px;
}