iframe{
    display: block;
    padding: 0;
    margin: -8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    /*z-index: -1; !*everything will come on top of iframe*!*/
}
body{
    padding: 0;
    margin: 0;
}

.cardinplaceholder{
    display: block;
    color: black;
}
