/*Game bord, alle colommen en rijen*/

#game-boardHTML{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(5, 120px);
    background: url("../Images/Onitama-BackgroundGameboard.png") no-repeat center center;
    margin: 8%;
}

.cell{
    border: 2px solid black;
}

.leaveButton{
    background-color: red;
    padding: 10px;
    margin: auto;
    width: 100px;
    place-items: end;
    border-radius: 5px;
}
#awaitingPlayer{
    padding-top: 50px;
    color: black;
    display: none;
    height: 0;
}
#startGameButton{
    /*display: none;*/
    background-color: green;
    padding: 10px;
    margin-top: 50px;

    width: 100px;

    border-radius: 5px;
}
