iframe{
    display: block;
    padding: 0;
    margin: -8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    /*z-index: -1; !*everything will come on top of iframe*!*/
}
body{
    padding: 0;
    margin: 0;
    font-family: manrope, serif;
    background: url("../Images/Gameboard_walpaper.jpg") center center fixed;
}

/*Knop start game*/
#startGameButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border: none;
    background-color: transparent;
    letter-spacing: 2px;
    font-weight: bold;
    background: linear-gradient(#FFB7C5, #FF69B4);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    width: 12em;
    margin: auto;
    margin-top: 50px;
}

#startGameButton::before {
    content: '';
    z-index: -1;
    background: linear-gradient(#FFB7C5, #FF69B4);
    border: 2px solid white;
    border-radius: 2rem;
    width: 110%;
    height: 100%;
    position: absolute;
    transform: rotate(10deg);
    transition: .5s;
    opacity: 0.2;
}

#startGameButton:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.1);
}

#startGameButton:hover::before {
    transform: rotate(0deg);
    opacity: 1;
}


.cardinplaceholder{
    display: block;
    color: black;
    margin-top: 20px;
}
.pawn {
    width: 80%;
    height: 80%;
    background-color: #000;
    border-radius: 50%;
    margin: 10%;
}

.leaveButton {
    background: transparent;
    width: 120px;
    text-align: center;
    position: relative;
    padding: 5px 15px;
    margin-top: 40px;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255,0,0);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255,0,0);
    transition: color 0.3s 0.1s ease-out;
}

.leaveButton::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.leaveButton:hover {
    color: #fff;
    border: 1px solid rgb(255,0,0);
}

.leaveButton:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

