.login_title{
    margin-bottom: 5px;
}

.login_description{
    margin-bottom: 5px;
}

.register_button_login{
    padding: 10px;
    margin: auto;

    width: 100px;

    border: 1px solid black;
    border-radius: 5px;

    background-color: var(--accentcolor1);

    opacity: 0.9;
}

.register_button_login:hover{
    opacity: 1;
}