@font-face {
    font-family: 'Skyscapers';
    src: url('//2ttf.com/webfont/6IF8GLA3aiM/webfont.ttf') format('truetype');
}

*{
    font-family: "manrope", serif;
    font-weight: normal;
}

body{
    background: url("../Images/CherryBolosom.webp") no-repeat fixed;
    background-size: 100%;
    font-family: "manrope", serif;
}

.login_modal_btn{
    width: 100px;
    padding: 5px 10px;

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.register_modal_btn{
    width: 100px;
    padding: 5px 10px;

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.team_modal_btn{
    width: 100px;
    padding: 5px 10px;

    border-radius: 5px;
    border: none;

    cursor: pointer;
}
.title{
    font-size: 50pt;
    margin-top: 12%;
    font-family: "Skyscapers", "sans-serif";
}
#centerMainPage{
    display: grid;
    place-items: center;
}
.homePageButtons{
    & a {
        display: block;
        margin: auto;
    }
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    padding: 5px;
    margin-top: 25px;
    display: block;
    background-color: var(--accentcolor2);
    width: 15%;
    min-width: 120px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

