#register_modal{
    height: 555px;
}

.register_title{
    margin-bottom: 5px;
}

.register_description{
    margin-bottom: 5px;
}

.close_button:hover{
    background-color: red;
    color: white;
}

/* Set a grey background color and center the text of the "login" section */
.login_button_register{
    padding: 10px;
    margin: auto;

    width: 100px;

    border: 1px solid black;
    border-radius: 5px;

    background-color: coral;

    opacity: 0.9;
}

.login_button_register:hover{
    opacity: 1;
}