@import './team.css';
@import './modal.css';
@import './login.css';
@import './register.css';
@import './main_page.css';
@import './lobby.css';
@import './toast.css';
@import './game.css';
@import './spinner.css';

:root{
  --generalBackgroundcolor: #000000;
  --textcolor: #ffffff;
  --accentcolor1: #a0d9ef;
  --accentcolor2: #C7CFA2;
  --accentcolor3: #F47983;
}
body{
  background-color: var(--generalBackgroundcolor);
  color: var(--textcolor);
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

iframe[iframetag]{
  border: none;
}
