:root{
  --generalBackgroundcolor: #000000;
  --textcolor: #ffffff;
  --accentcolor1: #000000;
  --accentcolor2: #000000;
}
body{
  background-color: var(--generalBackgroundcolor);
  color: var(--textcolor);
}

@import './team.css';
@import './login_register.css';